@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: 'Noto Serif', serif;

$primary: #000;
$primary-hover: rgb(50, 50, 50);
$success: rgb(34,139,34);
$success-hover: rgb(0,100,0);
